body 
{
    margin:0;
    font-family: "Lato", sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: teal;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: teal;
    color: black;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }
 .navbar1 
{
    position: absolute; 
    TOP: 50px; 
    LEFT:0px; 
    width: 100%; 
    height: 26px; 
    color: black;
    background-color: tan;
    text-decoration: none;
    font-size: 17px;
    display: block;
} 
#section1 {
    height: 700px;
    background-color: lightslategrey;
  }
  
  #section2 {
    height: 700px;
    background-color: thistle;
  }
  #section3 {
    height: 700px;
    background-color: lightslategrey;
  }
  
  #section4 {
    height: 700px;
    background-color: thistle;
  }
  #section5 {
    height: 700px;
    background-color: lightslategrey;
  }
  
  #section6 {
    height: 700px;
    background-color: thistle;
  }
  
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}